@mixin minb($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin maxb($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin ellipsis($width: 100%, $display: inline-block) {
    display: $display;
    max-width: $width;
    max-height: $width;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
}
