// Fonts
$font-family-standard: Verdana, sans-serif;

// Colors
$primary-color: var(--p-primary-500);
$background-color: var(--p-surface-500);
$border-color: var(--p-surface-400);
$blue-500: var(--p-blue-500);
$blue-400: var(--p-blue-400);
$blue-300: var(--p-blue-300);
$blue-200: var(--p-blue-200);
$blue-100: var(--p-blue-100);
$blue-50: var(--p-blue-50);
$text-color: var(--p-text-color);
$text-muted-color: var(--p-surface-200);

// Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-2xl: 30px;
$font-size-3xl: 36px;
$font-size-4xl: 48px;
$font-size-5xl: 64px;

// Font weights
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Spacings
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xlm: 48px;
$spacing-xxl: 64px;
$spacing-xxxl: 96px;

// Border radius
$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-xl: 12px;
$radius-2xl: 16px;
$radius-3xl: 24px;
$radius-4xl: 32px;
$radius-full: calc(infinity * 1px);

// Shadows
$shadow-xs: 0px 1px 2px rgba(0, 0, 0, 0.05);
$shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1);
$shadow-md: 0px 4px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0px 10px 15px rgba(0, 0, 0, 0.1);
$shadow-xl: 0px 20px 25px rgba(0, 0, 0, 0.15);
$shadow-2xl: 0px 25px 50px rgba(0, 0, 0, 0.2);

// Breakpoints
$breakpoint-xs: 0px; // mobile-first
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;
